.filter-menu {
    background-color: white;
    position: absolute;
    min-width: 25%;
    margin: 1em;

    .panel-block {
        display: block;
    }
}

.filter-menu.is-collapsed {
    .panel-heading {
        border-radius: 6px;
    }
    .panel-block {
        display: none;
    }
}

.field-checkbox > label {
    margin-left: .5rem;
    line-height: 1;
  }