@import "../../variables";
@import "../../colors";

.filter-menu {
    position: absolute;
    bottom: 5em;
    width: 100vw;

    .panel-block {
        display: block;
    }

    .column {
        .label {
            visibility: hidden;
        }

        &:hover .label {
            visibility: visible;
        }
    }
}

.prev-column {
    padding-left: 2em;
}

.checkboxes-column {
    padding-top: 1.2em;
}

.years-column {
    padding-bottom: 0em;

    .columns .column {
        padding-bottom: 0;
    }
}

.next-column {
    padding-right: 2em;
}
