<div class="panel filter-menu is-dark" [ngClass]="{'is-collapsed': hideFilterMenu}" *ngIf="data">
    <p class="panel-heading is-clickable" (click)="hideFilterMenu = !hideFilterMenu">
        <span>Filter events</span>
    </p>
    <div class="panel-block">
        <div class="field">
            <label class="label">
                Intellectual
            </label>
            <div class="control">
                <da-checkboxes [options]="data.authors" [labelKey]="'name'" [colorKey]="'color'"
                    (selection)="this.selectedAuthors = $event; this.updateFilteredData()">
                </da-checkboxes>
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="field">
            <label class="label">
                Type of event
            </label>
            <div class="control">
                <da-checkboxes [options]="categories" 
                    (selection)="this.selectedCategories = $event; this.updateFilteredData()">
                </da-checkboxes>
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="field">
            <label class="label">
                Year
            </label>
            <div class="control">
                <p-slider [range]="true" [min]="minYear" [max]="maxYear"
                [(ngModel)]="selectedDateRange" (onSlideEnd)="updateFilteredData()"></p-slider>
            </div>
        </div>
        
        <div class="columns">
            <div class="column">{{selectedDateRange[0]}}</div>
            <div class="column" style="text-align: right;">{{selectedDateRange[1]}}</div>
        </div>
    </div>
</div>

<da-map [data]="filteredData"></da-map>
