@import '../../variables';
@import "../../colors";

.intellectual-list {
    width: 100%;
    height: $intellectual-list-height;
    margin: 0;

    .column {
        padding: 0;

        @each $name, $color in $colors {
            &.is-#{$name} {
                border: 4px solid $color;
                background-color: $color;
            }
        }

        img {
            object-fit: cover;
        }
        
    }
}

.filter-menu {
    background-color: white;
    position: absolute;
    min-width: 25%;
    margin: 1em;

    .panel-block {
        display: block;
    }
}

.filter-menu.is-collapsed {
    .panel-heading {
        border-radius: 6px;
    }
    .panel-block {
        display: none;
    }
}

.field-checkbox > label {
    margin-left: .5rem;
    line-height: 1;
  }