<div class="section">
    <div class="container">
        <h1 class="title">
            About the project
        </h1>
        <div class="content">
            <p>
                Digital Atlas of Postcolonial Europe is part of the PIN collaboration.
                <a href="/about/PIN">Read more about PIN here.</a>
            </p>

            <p>You can more about the contributors to the Digital Atlas project 
                <a href="about/contributors">here</a>.
            </p>

            <p>You can find the source code <a href="https://github.com/UUDigitalHumanitieslab/digital-atlas" target="_blank">here</a>.</p>
        </div>
    </div>
</div>