Django>=4.0.1,<5
djangorestframework
django-livereload-server
https://github.com/jazzband/django-revproxy@356ddd85713df0b484e74817cee709c109261495#egg=django-revproxy
psycopg2 --no-binary psycopg2
pytest
pytest-django
pytest-xdist
