@import "../../colors";
@import '~bulma/sass/utilities/_all';

.image {
    img {
        object-fit: cover;
    }
}

@each $name, $color in $colors {
    .card.is-#{$name} {
        cursor: pointer;

        .card-header {
            border-bottom: solid 5px $color;
            background-image: linear-gradient(
                -180deg,
                rgba(255, 255, 255, 0) 0,
                rgba(255, 255, 255, 0) 50px,
                $color 50px,
                $color 100px
            );
            background-position: 0 0;
            background-size: 100px 100px;
            transition: background-position 0.1s cubic-bezier(0.47, 0.1, 1, 0.63), color 0.2s ease-out;
            transition-delay: 0s, 0.15s;
        }

        &:hover {
            .card-header {
                background-position: 0 -50px;

                .card-header-title {
                    color: findColorInvert($color);
                }
            }
        }
    }
}
