<div class="section">
    <div class="container">
        <h1 class="title">Contributors</h1>

        <div class="block">
            <h2 class="title is-5">
                Project Coordinators ATLAS
            </h2>
            <ul>
                <li>Prof. Sandra Ponzanesi (Utrecht University)</li>
                <li>Julia de Lange (MA)</li>
            </ul>
        </div>

        <div class="block">
            <h2 class="title is-5">
                Development
            </h2>
            <p>Digital Humanities Lab (Utrecht University)</p>
        </div>

        <div class="block">
            <h2 class="title is-5">
                Contributors
            </h2>
            <div class="content">
                <ul>
                    <li>Neelam Srivastava (University of Newcastle, UK)</li>
                    <li>Max Silverman (University of Leeds) rk Stein)</li>
                    <li>Ana C. Mendes (University of Lisbon, Portugal)</li>
                    <li>Sabrina Marchetti (Ca’ Foscari University of Venice, Italy)</li>
                    <li>Bolette B. Blaagaard (Aalborg University, Denmark)</li>
                    <li>Daniela Merolla (INALCO, France)</li>
                    <li>Adriano Jose Habed (Utrecht University)</li>
                    <li>Mark Stein (University of Münster, Germany)</li>
                    <li>Jamila Mascat (Utrecht University)</li>
                </ul>
            </div>
        </div>
    </div>
</div>