<div class="section">
    <div class="container">
        <h1 class="title">
            Postcolonial Intellectuals and their European Public (PIN)
        </h1>
        <div class="content">
            <p>
                PIN is a NWO (Dutch Research Council) funded project -programme Internationalisation in the Humanities.
                See here:
                <a href="https://www.nwo.nl/en/projects/ig18014">https://www.nwo.nl/en/projects/ig18014</a>
            </p>

            <p>
                <b>Postcolonial Intellectuals and their European Publics network (PIN)</b>
                brings together an international and interdisciplinary network of scholars to
                investigate the role of postcolonial public intellectuals as crucial actors in renewing
                the function of the humanities and of democratic participation in Europe.
            </p>

            <p>
                Who are the postcolonial intellectuals, which of them are currently the most influential
                and how do they contribute to a new idea of “Europe”? This innovative international network
                challenges the traditional definition of the “intellectual” by emphasizing the role of
                migrants, artists, activists and social movements.
            </p>

            <p>
                PIN brings together humanities centres with an international track record in postcolonial
                studies and furthermore connects established research centres, institutes and initiatives
                that have so far operated in isolation, integrating both theoretical, material, curatorial
                and digital perspectives for the first time. An international team of experts from theNetherlands,
                UK, Germany, Portugal, Denmark, Italy and France had collaborated on a digital atlas for postcolonial
                Europe that connect major postcolonial intellectuals, archives, libraries, research centres and
                cultural institutions throughout Europe.
            </p>

            <h3>PIN international partners</h3>

            <ul>
                <li>Utrecht University, NL (Sandra Ponzanesi, PI)</li>
                <li>University of Leeds (Graham Huggan, John McLeod, Max Silverman) </li>
                <li>University of Warwick, UK (Paulo de Medeiros)</li>
                <li>University of Münster, Germany (Mark Stein)</li>
                <li>University of Lisbon, Portugal (Ana C. Mendes)</li>
                <li>Ca’ Foscari University of Venice, Italy (Sabrina Marchetti and Shaul Bassi)</li>
                <li>Aalborg University, Copenhagen, Denmark (Bolette B. Blaagaard)</li>
                <li>INALCO, France (Daniela Merolla)</li>
                <li>University of Newcastle, UK (Neelam Srivastava) </li>
            </ul>
        </div>
    </div>
</div>