<div class="intellectual-list columns is-mobile" *ngIf="data">
    <div *ngFor="let author of data.authors"
        class="column author-column is-{{author.color}} has-text-centered is-clickable"
        [pTooltip]="tooltipMessage(author)" showDelay="600" [ngClass]="{'is-active': isActive(author)}"
        (click)="toggleAuthor(author)" (keydown.enter)="toggleAuthor(author)">

        <div class="author-image">
            <img *ngIf="pictures[author.id]" [src]="pictures[author.id]" alt="{{author.name}}" class="is-radiusless">
            <div *ngIf="!pictures[author.id]">{{author.name}}</div>
        </div>

        <div class="author-overlay">
            <div>{{author.name}}</div>

            <span class="icon show-icon">
                <fa-icon [icon]="icons.show"></fa-icon>
            </span>
            <span class="icon hide-icon">
                <fa-icon [icon]="icons.hide"></fa-icon>
            </span>
        </div>
    </div>
</div>