@import "../../variables";
@import "../../colors";

$inactive: $dark;

.intellectual-list {
    width: 100%;
    height: $intellectual-list-height;
    margin: 0;

    .author-column {
        border-bottom: 10px solid $inactive;
        background-color: $dark;
        position: relative;
        overflow-y: hidden;
        padding: 0;
        transition: all 0.4s;
        user-select: none;

        @each $name, $color in $colors {
            &.is-#{$name} {
                &:not(&.is-active) {
                    .author-overlay {
                        background-color: rgba($color, 0.2);
                    }

                    &:hover,
                    &:focus {
                        border-bottom: 10px solid rgba($color, 0.5);
                    }
                }

                &.is-active {
                    .author-overlay {
                        background-color: $color;
                        color: findColorInvert($color);
                    }

                    color: $color;
                    border-bottom: 10px solid $color;
                }
            }
        }

        .author-image {
            z-index: 1;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        &.is-active {
            .author-overlay .show-icon {
                display: none;
            }
        }

        &:not(.is-active) {
            .author-overlay .hide-icon {
                display: none;
            }

            .author-image {
                opacity: 0.5;
            }
        }

        .author-overlay {
            background-color: $inactive;
            color: findColorInvert($inactive);
            z-index: 2;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            transition: top 0.4s ease-out, background-color 0.2s ease-out;

            padding-top: 1em;
        }

        &:hover .author-overlay,
        &:focus .author-overlay {
            top: 0;
        }
    }
}
