<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <strong class="navbar-item" i18n>
                Digital Atlas of Postcolonial Europe
            </strong>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample" (click)="toggleBurger()"
                [ngClass]="{'is-active': burgerActive}">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': burgerActive}" [@slideInOut]="burgerShow">
            <div class="navbar-end">
                <a [routerLink]="['/map']" routerLinkActive="is-active" class="navbar-item" i18n>
                    Map
                </a>
                <a [routerLink]="['/index']" routerLinkActive="is-active" class="navbar-item" i18n>
                    Intellectuals
                </a>
                <a [routerLink]="['/timeline']" routerLinkActive="is-active" class="navbar-item" i18n>
                    Timeline
                </a>
                <a [routerLink]="['/about']" routerLinkActive="is-active" class="navbar-item" i18n>
                    About
                </a>
            </div>
        </div>
    </div>
</nav>