@use '~bulma/sass/utilities/_all' as bulma;
@use "../../colors";

@import '../../variables';

.event-preview {
    position: fixed;
    z-index: 2;
}

.timeline-container {
    width: 100%;
}

.column.timeline {
    padding-top: 0px;
    padding-bottom: 0px;
}

.timeline-scale {
    border-right: 2px solid bulma.$grey-lighter;

    .timeline-tick {
        text-align: right;
        font-weight: bold;
    }
}

.timeline-body {
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;

    .columns {
        width: 100%;

        .column {
            padding-right: 0rem;
        }
    }
}


.timeline-event-container {
    padding: 2px 0px;

    @each $name, $color in colors.$colors {
        .timeline-event.is-#{$name} {
            background-color: $color;
            color: bulma.findColorInvert($color);
            border-color: $color;
            height: 100%;
            width: 100%;
            border-radius: 0.5em;

            &:hover {
                background-color: lighten($color, 5%);
            }

            &:focus {
                box-shadow: 0 0 0 0.125em transparentize($color: $color, $amount: 0.75);
            }

            &.is-active {
                border: 2px solid darken($color, 10%);
            }

        }
    }
}