<div class="timeline-body">
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let year of timeRange">
                    {{year}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableRows">
                <td *ngFor="let cell of row" colspan="{{cell.span}}">
                    {{cell.startYear}}, {{cell.endYear}}, {{cell.span}}
                </td>
            </tr>
        </tbody>
    </table>
</div>