@use '~bulma/sass/utilities/_all' as bulma;
@use "../../colors";

div.timeline-scale {
    border-right: 2px solid bulma.$grey-lighter;

    div.timeline-tick {
        text-align: right;
        font-weight: bold;
    }
}

.timeline-event-container {
    padding: 2px 0px;

    @each $name, $color in colors.$colors {
        .timeline-event.is-#{$name} {
            background-color: $color;
            color: bulma.findColorInvert($color);
            border-color: $color;
            height: 100%;
            width: 100%;
            border-radius: 0.5em;

            &:hover {
                background-color: lighten($color, 5%);
            }

            &:focus {
                box-shadow: 0 0 0 0.125em transparentize($color: $color, $amount: 0.75);
            }

        }
    }
}