@import '~bulma/bulma';

.timeline-body {
    overflow-x: auto;
}

.table {
    td, th {
        border-bottom: none;
    }

    th.table-left-header {
        border-right: 2px solid $grey-lighter;
        text-align: right;
    }
}