<div class="panel is-{{color}}" *ngIf="event">
    <div class="panel-heading" [ngClass]="{'is-clickable': selected}" (click)="selected && goBack.next()">
        <div class="columns">
            <div class="column">
                {{event.title || '...'}}
            </div>
            <div class="column is-narrow">
                <span class="icon back-button" pTooltip="go back" *ngIf="selected">
                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                </span>
            </div>
        </div>
    </div>
    <div class="panel-block author-link is-clickable" *ngFor="let author of authors"
        [routerLink]="['/intellectual', author.info.id]">
        <div class="column author-name has-text-right">
            {{author.info.name}}
        </div>
        <div class="column is-narrow">
            <figure class="image is-square is-32x32 author-image" *ngIf="author.picture">
                <img class="is-rounded is-{{author.color}}" [src]="author.picture">
            </figure>
        </div>
    </div>
    <div class="panel-block" *ngIf="picture">
        <figure class="image">
            <img [src]="picture" alt="" class="is-radiusless">
        </figure>
    </div>
    <div class="panel-block description" *ngIf="event.description">
        <div class="content">
            <p>{{event.description}}</p>
        </div>
    </div>
    <a class="panel-block link" *ngIf="formattedUrl" [href]="event.url" target="_blank">
        <span class="panel-icon">
            <fa-icon [icon]="faLink"></fa-icon>
        </span>
        {{formattedUrl}}
    </a>
    <p class="panel-block" *ngIf="categoryIcon">
        <span class="panel-icon">
            <fa-icon [icon]="categoryIcon"></fa-icon>
        </span>
        {{event.type | titlecase}}
    </p>
    <p class="panel-block" *ngIf="formattedDate">
        <span class="panel-icon">
            <fa-icon [icon]="faCalendar"></fa-icon>
        </span>
        {{formattedDate}}
    </p>
    <p class="panel-block" *ngIf="event.where">
        <span class="panel-icon">
            <fa-icon [icon]="faMapMarker"></fa-icon>
        </span>
        {{event.where?.name}}
    </p>
</div>
