$turquoise: #066163;
$blue: #4f5e8a;
$red: #BB6464;
$yellow: #CDBE78;
$dark: #383838;
$light: #F2F2F2;
$cyan: #62959C;
$green: #557C55;

@import 'variables';
@import '~bulma/bulma';
@import 'primeicons/primeicons.css';
@import 'primeng/resources/themes/fluent-light/theme.css';
@import 'primeng/resources/primeng.css';

@media print {

    .is-hidden-print,
    .is-hidden-print * {
        display: none !important;
    }

    .is-print-paddingless {
        padding: 0 !important;
    }

    .ui-table .ui-table-thead,
    .ui-table .ui-table-tbody,
    .ui-table .ui-table-tfoot {

        >tr>th,
        >tr>td {
            border: solid 1px $dark !important;
        }
    }
}
