// specify shared colors here https://bulma.io/documentation/customize/variables/
// e.g. $primary: red;
$lab-color: #427b96;
$turquoise: #066163;
$blue: #4f5e8a;
$red: #BB6464;
$yellow: #CDBE78;
$dark: #383838;
$light: #F2F2F2;
$cyan: #62959C;
$green: #557C55;

@import '~bulma/sass/utilities/_all';

$intellectual-list-height: 6em;
