$navbar-height: 3.25rem; // default height in Bulma

.event-preview {
    position: fixed;
    z-index: 2;
}


.event-card-container {
    position: absolute;
    right: 0;
    margin: 1em;
    width: 25%;
}

svg {
    background-color: #96c7c1;
    max-width: 100%;
    min-height: calc(100vh - #{$navbar-height * 2});

    ::ng-deep use {
        cursor: pointer;
    }
}
