<footer class="footer is-hidden-print">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="subtitle" i18n>Digital Atlas</h1>
                    <div class="content">
                        <p i18n>
                            <a href="https://github.com/UUDigitalHumanitieslab/digital-atlas">Source code</a> (BSD 3-Clause License)
                        </p>
                    </div>
                </div>
                <div class="column has-text-right-tablet">
                    <a class="university-logo image" href="https://uu.nl" target="_blank">
                        <img src="{{environment.assets}}/utrecht-university.svg" alt="Utrecht University logo" i18n-alt width="200"
                            height="50" />
                    </a>
                    <a class="lab-logo image" href="https://dig.hum.uu.nl" target="_blank">
                        <img src="{{environment.assets}}/dhlab.svg" alt="Digital Humanities Lab logo" i18n-alt width="200" height="40" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
