<div class="container">
<ng-container *ngIf="author">
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="block">
                <div class="card is-radiusless is-{{author.color}}">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{author.name}}
                        </p>
                    </header>
                    <div class="card-image">
                        <figure class="image is-square">
                            <img src="https://bulma.io/images/placeholders/320x480.png" alt="" class="is-radiusless">
                        </figure>
                    </div>
                </div>
            </div>
            
            <div class="block">
                More content here?
            </div>
        </div>

        <div class="column">
            <da-timeline [authors]="[author]"></da-timeline>
        </div>
        <div class="column">
            <ng-container *ngFor="let event of events">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{event.title}}
                            <span class="tag">
                                {{event.category}}
                            </span>
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            {{event.description}}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <span class="card-footer-item">
                            {{event.formattedDate}}
                        </span>
                        <span class="card-footer-item">
                            {{event.where?.name}}
                        </span>
                    </footer>
                </div>
                <br />
            </ng-container>
        </div>
    </div>
</ng-container>
</div>