<div class="section">
<div class="container">
<ng-container *ngIf="author">
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="block">
                <div class="card is-radiusless is-{{author.color}}">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{author.name}}
                        </p>
                    </header>
                    <div class="card-image" *ngIf="pictureFile">
                        <figure class="image">
                            <img [src]="pictureFile" alt="" class="is-radiusless">
                        </figure>
                    </div>
                </div>
            </div>

            <div class="block has-text-grey is-italic is-small" *ngIf="picture">
                © photograph by {{picture.author}} ({{picture.license}})
            </div>

            <div class="block has-text-centered" *ngIf="author.dateOfBirth || author.placeOfBirth">
                <div class="heading">born</div>
                <span *ngIf="author.dateOfBirth">{{author.dateOfBirth}} </span>
                <span *ngIf="author.dateOfBirth && author.placeOfBirth">‒ </span>
                <span *ngIf="author.placeOfBirth">{{author.placeOfBirth.name}}</span>
            </div>

            <div class="block has-text-centered" *ngIf="author.dateOfDeath">
                <div class="heading">died</div>
                <span *ngIf="author.dateOfDeath">{{author.dateOfDeath}} </span>
                <span *ngIf="author.dateOfDeath && author.placeOfDeath">‒ </span>
                <span *ngIf="author.placeOfDeath">{{author.placeOfDeath.name}}</span>
            </div>

            <div class="block has-text-justified" *ngIf="author.description">
                {{author.description}}
            </div>
        </div>

        <div class="column">
            <div class="block">
                <h2 class="subtitle is-3 mb-1">Timeline</h2>
                <p class="has-text-grey">
                    <span class="icon">
                        <fa-icon [icon]="icons['life event']"></fa-icon>
                    </span>
                    life event
                    <span class="icon">
                        <fa-icon [icon]="icons['work']"></fa-icon>
                    </span>
                    work
                    <span class="icon">
                        <fa-icon [icon]="icons['legacy']"></fa-icon>
                    </span>
                    legacy
                </p>
            </div>
            <da-timeline [authors]="[author]" (eventSelect)="onEventSelect($event)"></da-timeline>
        </div>
    </div>
</ng-container>
</div>
</div>