<div class="section">
<div class="container">
<ng-container *ngIf="author">
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="block">
                <div class="card is-radiusless is-{{author.color}}">
                    <header class="card-header">
                        <p class="card-header-title">
                            {{author.name}}
                        </p>
                    </header>
                    <div class="card-image" *ngIf="picture">
                        <figure class="image">
                            <img [src]="picture" alt="" class="is-radiusless">
                        </figure>
                    </div>
                </div>
            </div>
            
            <div class="block">
                More content here?
            </div>
        </div>

        <div class="column">
            <da-timeline [authors]="[author]"></da-timeline>
        </div>
        <div class="column">
            <div class="block" *ngFor="let event of events">
                <da-event-card [event]="event" [data]="data"></da-event-card>
            </div>
        </div>
    </div>
</ng-container>
</div>
</div>